<div id="skills" class="skills-section scroll-offset">
  <div class="heading">My Skills</div>
  <div class="skills-hover-wrapper" (mouseleave)="onSkillsLeave()">
    <!-- Skills Container -->
    <div #skills class="skills" (mouseenter)="onSkillsEnter()">
      <!-- Skills -->
      <div #skill class="skill" (click)="navigateToWebsite('angular')">
        <div class="image">
          <img class="logo" src="assets/logos/Angular.png" alt="Angular logo" />
        </div>
        <p>Angular</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('typescript')">
        <div class="image">
          <img
            class="logo"
            src="assets/logos/TypeScript.png"
            alt="Typescript logo"
          />
        </div>
        <p>TypeScript</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('php')">
        <div class="image image-smaller">
          <img class="logo" src="assets/logos/PHP.png" alt="PHP logo" />
        </div>
        <p>PHP</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('aspnet')">
        <div class="image image-smaller">
          <img class="logo" src="assets/logos/ASPNET.png" alt="Angular logo" />
        </div>
        <p>ASP.NET</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('csharp')">
        <div class="image">
          <img class="logo" src="assets/logos/CSharp.png" alt="Angular logo" />
        </div>
        <p>C#</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('html')">
        <div class="image">
          <img class="logo" src="assets/logos/HTML.png" alt="Angular logo" />
        </div>
        <p>HTML</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('css')">
        <div class="image css-image">
          <img class="logo" src="assets/logos/CSS.png" alt="Angular logo" />
        </div>
        <p>CSS</p>
      </div>

      <div #skill class="skill" (click)="navigateToWebsite('mysql')">
        <div class="image image-smaller">
          <img class="logo" src="assets/logos/MySQL.png" alt="Angular logo" />
        </div>
        <p>MySQL</p>
      </div>
    </div>

    <div>
      <button class="button CV-button" appRippleEffect (click)="openCV()" >View my CV</button>
    </div>
  </div>

  <div class="container-relative">
    <div #gradient class="primary-secondary-gradient"></div>
  </div>
</div>
