<div #projectDisplay class="project-display">
  <div class="project-item-container" *ngIf="projOdd || isMobileScreen">
    <div class="thumbnail">
      <div class="coming-soon" *ngIf="thumbnailUrl == ''">Coming Soon</div>
      <div class="before-1" [class.in-view]="inView"></div>
      <div class="before-2" [class.in-view]="inView"></div>
    </div>
    <div #thumbnail class="thumbnail-background"></div>
  </div>

  <div
    class="project-item-container project-info-container"
    [ngClass]="{
      'slide-in': inView,
      'inactive-right': projOdd,
      'inactive-left': !projOdd,
      'condense': projectData.dateCompleted == ''
    }"
  >
    <div class="description">
      <h1>{{ projectData.name }}</h1>
      <div class="content">
        {{ projectData.description }}
      </div>
      <p *ngIf="projectData.dateCompleted != ''">
        Completed - {{completionDate}}
      </p>
      <div class="button-container">
        <button
          appRippleEffect
          class="button"
          [attr.title]="projectData.demoLink == '' ? 'GitHub repository unavailable' : null"
          [disabled]="projectData.githubLink == ''"
          (click)="onOpenRepo()"
        >
          GitHub
        </button>
        <button
          appRippleEffect
          class="button"
          [attr.title]="projectData.demoLink == '' ? 'Demo unavailable' : null"
          [disabled]="projectData.demoLink == ''"
          (click)="onOpenDemo()"
        >
          Demo
        </button>
      </div>
    </div>
  </div>

  <div class="project-item-container" *ngIf="!projOdd && !isMobileScreen">
    <div class="thumbnail">
      <div class="coming-soon" *ngIf="thumbnailUrl == ''">Coming Soon</div>
      <div class="before-1" [class.in-view]="inView"></div>
      <div class="before-2" [class.in-view]="inView"></div>
    </div>
    <div #thumbnail class="thumbnail-background"></div>
  </div>
</div>
