<div id="projects" class="scroll-offset">
  <div class="container-relative">
    <div class="heading">Projects</div>
  </div>

  <div #projectsContainer class="projects-container">
    <div #lineFiller class="line-filler" *ngIf="showFillerLine"></div>

    <!-- Project 1 -->
    <div #project class="project">
      <app-featured-project
        [projInfo]="[1, projects[0]]"
      ></app-featured-project>

      <div #linePanel class="line-panels">
        <div class="short-left"></div>
        <div class="long-right"></div>
      </div>
    </div>

    <!-- Project 2 -->
    <div #project class="project">
      <app-featured-project
        [projInfo]="[2, projects[1]]"
      ></app-featured-project>

      <div #linePanel class="line-panels">
        <div class="long-left"></div>
        <div class="short-right"></div>
      </div>
    </div>

    <!--  Project 3 -->
    <div #project class="project">
      <app-featured-project
        [projInfo]="[3, projects[2]]"
      ></app-featured-project>

      <div #linePanel class="line-panels">
        <div class="short-left"></div>
        <div class="long-right"></div>
      </div>
    </div>

    <!-- Project 4 -->
    <div #project class="project">
      <app-featured-project
        [projInfo]="[4, projects[3]]"
      ></app-featured-project>
    </div>
  </div>
</div>
