.about-me-section {
    width: 100%;
    position: relative;
    height: auto;
    padding: 90px 0 0 0;
    background: radial-gradient(circle at 67.3% 25em, var(--about-me-gradient));

    scroll-snap-align: top;
}

.recipe-image-grid {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
}

.recipe {
    color: rgb(var(--text-colour));
    margin: 0 auto;
}

.cauldron-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cauldron-image img {
    width: 450px;
}

.recipe-title {
    font-size: 50px;
    font-weight: 500;
}

.scroll-offset {
    scroll-margin-top: 20px;
}

.text-delicious {
    font-family: 'Dancing Script', 'Brush Script MT', 'Comic Sans MS', cursive;
    font-size: 52px;
    font-weight: 150;
}

.ingredient {
    font-size: 32px;
    font-weight: bold;
    padding: 0.25em 0;
    margin-left: 0.7em;
}

.highlight {
    position: relative;
    padding: 0 3px 1px 1px;
    z-index: 0;
}

.highlight::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            transparent 70%,
            rgba(var(--highlight-colour), 0.7) 30%);
    z-index: -1;
}

.underline {
    width: 330px;
    height: 1.5px;
    margin-left: 15px;
    background-color: rgb(var(--highlight-colour));
}

.introduction {
    padding: 300px 0;
    display: grid;
    grid-template-columns: 18% 30px 64% 30px;
    justify-items: left;

    scroll-snap-align: center;
}

.introduction .content {
    padding: 0 50px;
    width: auto;
    transform: translateY(200px);
    opacity: 0;
}

.introduction .content.active {
    transform: translateY(0);
    opacity: 1;
    transition: 0.8s all ease .1s;
}

.introduction .content.inactive {
    opacity: 0;
}

.introduction h1 {
    margin: 0 0 30px 0;
    color: rgb(var(--text-colour));
    font-size: 62px;
    font-weight: 700;
}

.introduction p {
    margin: 0;
    color: rgb(var(--text-colour));
    font-size: 32px;
    font-weight: 600;
}

.frame-corner-left {
    width: 30px;
    fill: rgb(var(--highlight-colour));
}

.frame-corner-right {
    width: 30px;
    fill: rgb(var(--highlight-colour));
    align-self: last baseline;
}

.fadeToRight {
    animation: fadeToRight 1s ease-out forwards;
}

.hidden-left {
    animation: fadeAwayLeft 0.6s linear forwards;
}

.fadeToLeft {
    animation: fadeToLeft 1s ease-out forwards;
}

.hidden-right {
    animation: fadeAwayRight 0.6s linear forwards;
}

@keyframes fadeToRight {

    0%,
    40% {
        opacity: 0;
        transform: rotate(90deg) translateY(100px) translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: rotate(90deg) translateY(-30px) translateX(-30px);
        ;
    }
}

@keyframes fadeToLeft {

    0%,
    40% {
        opacity: 0;
        transform: rotate(-90deg) translateY(100px) translateX(-40px);
    }

    100% {
        opacity: 1;
        transform: rotate(-90deg) translateY(-30px) translateX(-40px);
    }
}

@keyframes fadeAwayLeft {
    from {
        opacity: 1;
        transform: rotate(90deg) translateY(-30px) translateX(-30px);
    }

    to {
        opacity: 0;
        transform: rotate(90deg) translateY(100px) translateX(-30px);
    }
}

@keyframes fadeAwayRight {
    from {
        opacity: 1;
        transform: rotate(-90deg) translateY(-60px) translateX(-30px);
    }

    to {
        opacity: 0;
        transform: rotate(-90deg) translateY(100px) translateX(-30px);
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {

    .about-me-section {
        background: radial-gradient(circle at 70% 25em, var(--about-me-gradient));
    }

    .recipe-image-grid {
        grid-template-columns: 40% 40%;
    }

    .recipe-title {
        font-size: 44px;
    }

    .ingredient {
        font-size: 28px;
    }

    .cauldron-image img {
        width: 380px;
    }


    .introduction {
        grid-template-columns: 10% 30px 75% 30px;
    }

    .introduction h1 {
        font-size: 54px;
        margin-bottom: 15px;
    }

    .introduction p {
        font-size: 28px;
    }
}

@media only screen and (max-width: 820px) {

    .about-me-section {
        background: radial-gradient(circle at 140% 20em, var(--about-me-gradient));
        padding-top: 130px;
    }

    .recipe-image-grid {
        grid-template-columns: 92% 0;
    }

    .recipe {
        margin-left: 20px;
    }

    .recipe-title {
        font-size: 30px;
    }

    .text-delicious {
        font-size: 32px;
    }

    .underline {
        width: 190px;
    }

    .ingredient {
        font-size: 18px;
    }

    .cauldron-image img {
        width: 0;
    }


    .introduction {
        grid-template-columns: 5% 30px 80% 30px;
        padding: 150px 0;
        margin: 100px 0 50px 0;
    }

    .introduction .content {
        padding: 0 15px;
    }

    .introduction h1 {
        font-size: 22px;
    }

    .introduction p {
        font-size: 16px;
    }

    .content br {
        height: 0px;
    }

    .frame-corner-left {
        width: 20px;
    }

    .frame-corner-right {
        width: 20px;
    }

}